body {
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%;
    margin-top: 2.2%;
    margin-bottom: 2.2%; */
   }

img {
    height: 50px;
    width: 50px;
}

.card {
    margin: 10PX;
}